/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex: auto;
    padding: 20px;
    flex-direction: row;
    gap: 20px;
}

article {
    flex: 2;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}

aside {
    flex: 1;
    background-color: #eaeaea;
    padding: 20px;
    overflow-y: auto;
}

footer {
    background-color: #444;
    color: #fff;
}
